<div class="reset-container">
  <div class="reset-box">
    <div class="reset-left">
      <h1>Forgot Password?</h1>
      <p>Don't worry! We’ll send a reset link to your email.</p>
    </div>

    <div class="reset-right">
      <div class="reset-header">
        <a (click)="goBack()" class="back-btn">
          <i class="bi bi-arrow-left"></i>
        </a>
        <h2>Forgot Password</h2>
      </div>
      
      

      <form [formGroup]="form" (ngSubmit)="submit()">
        <label for="email">Email</label>
        <input
          type="email"
          formControlName="email"
          placeholder="Enter your email"
        />

        

        <!-- <div
          class="hint"
          *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
        >
          email is required !
        </div>

        <button type="submit">Send Reset Link</button> -->

        <div class="hint" *ngIf="form.get('email')?.touched && form.get('email')?.invalid&&form.get('email')?.invalid">
          <span *ngIf="form.get('email')?.errors?.['required']">Email is required!</span>
          <span *ngIf="form.get('email')?.errors?.['email']">Please enter a valid email!</span>
        </div>

        <!-- <div class="hint" *ngIf="(form.get('email')?.touched || submitted) && form.get('email')?.invalid">
          <span *ngIf="form.get('email')?.errors?.['required']">Email is required!</span>
          <span *ngIf="form.get('email')?.errors?.['email']">Please enter a valid email!</span>
        </div> -->
        
         <button type="submit" [disabled]="loading">
          {{ loading ? 'Sending...' : 'Send Reset Link' }}
        </button>
      </form>

      <!-- <p *ngIf="msg" class="msg">{{ msg }}</p> -->
       
    </div>
  </div>
</div>
