<div class="reset-container">
  <div class="reset-box">
    <div class="reset-left">
      <h1>{{ 'FORGOT_PASSWORD.TITLE' | translate }}</h1>
      <p>{{ 'FORGOT_PASSWORD.DESC' | translate }}</p>
    </div>

    <div class="reset-right">
      <div class="reset-header">
        <a (click)="goBack()" class="back-btn" [title]="'FORGOT_PASSWORD.GO_BACK' | translate">
          <i class="bi bi-chevron-left"></i>
        </a>
        <h2>{{ 'FORGOT_PASSWORD.FORM_TITLE' | translate }}</h2>
      </div>
      
      

      <form [formGroup]="form" (ngSubmit)="submit()">
        <label for="email">{{ 'FORGOT_PASSWORD.EMAIL_LABEL' | translate }}</label>
        <input
          type="email"
          formControlName="email"
          [placeholder]="'FORGOT_PASSWORD.EMAIL_PLACEHOLDER' | translate"
        />

        

        <!-- <div
          class="hint"
          *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
        >
          email is required !
        </div>

        <button type="submit">Send Reset Link</button> -->

        <div class="hint" *ngIf="form.get('email')?.touched && form.get('email')?.invalid&&form.get('email')?.invalid">
          <span *ngIf="form.get('email')?.errors?.['required']">{{ 'FORGOT_PASSWORD.EMAIL_REQUIRED' | translate }}</span>
          <span *ngIf="form.get('email')?.errors?.['email']">{{ 'FORGOT_PASSWORD.EMAIL_INVALID' | translate }}</span>
        </div>

        <!-- <div class="hint" *ngIf="(form.get('email')?.touched || submitted) && form.get('email')?.invalid">
          <span *ngIf="form.get('email')?.errors?.['required']">Email is required!</span>
          <span *ngIf="form.get('email')?.errors?.['email']">Please enter a valid email!</span>
        </div> -->
        
         <button type="submit" [disabled]="loading">
          {{ (loading ? 'FORGOT_PASSWORD.SENDING' : 'FORGOT_PASSWORD.SEND_RESET_LINK') | translate }}
        </button>
      </form>

      <!-- <p *ngIf="msg" class="msg">{{ msg }}</p> -->
       
    </div>
  </div>
</div>
