<!-- Assign Modal -->
<div class="modal-backdrop-custom" *ngIf="showAssign" (click)="close()"></div>
<div class="modal-custom" *ngIf="showAssign" (click)="$event.stopPropagation()">
  <div class="modal-card">
      <div class="modal-header">
        <h5 class="modal-title">{{ isEdit ? 'Change Assignment' : 'Assign Issue' }}</h5>
        <button class="btn-close" (click)="close()"></button>
      </div>

      <form #assignForm="ngForm">
        <div class="modal-body">
          <!-- Issue ID -->
          <div class="form-group mb-3">
            <label for="issueId">Issue ID:</label>
            <input id="issueId" type="text" class="form-control" [(ngModel)]="issueDraft.id" name="id" required
              placeholder="Enter Issue ID" [readonly]="isEdit || !!issueDraft.id" />
            <div class="text-danger" *ngIf="assignForm.submitted && !issueDraft.id">
              Issue ID is required
            </div>
          </div>

          <!-- Assign To -->
          <div class="form-group mb-3">
            <label for="assignTo">Assign To:</label>
            <select id="assignTo" class="form-control" [(ngModel)]="issueDraft.assignedTo" name="assignedTo" required>
              <option [ngValue]="null">Select User</option>
              <option *ngFor="let u of UserData" [value]="u.id" [disabled]="isEdit && u.id === issueDraft.assignedTo">{{
                u.username }}</option>
            </select>
            <!-- <div class="text-danger" *ngIf="assignForm.submitted && !issueDraft.assignedTo">
              Please select a user
            </div> -->
          </div>

          <!-- Due Date -->
          <!-- <div class="form-group mb-3">
            <label for="dueDate">Due Date:</label>
            <input id="dueDate" type="date" class="form-control" [(ngModel)]="issue.dueDate" name="dueDate" required
             [min]="today" #dueDateRef="ngModel" [ngModelOptions]="{ standalone: false }" />

            <div class="text-danger" *ngIf="assignForm.submitted && dueDateRef.invalid">
              Due Date is required
            </div>
          </div> -->


        </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="onSubmitUser()">{{ isEdit ? 'Update' : 'Save' }}</button>
        <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
      </div>
    </form>
  </div>
</div>
<!-- Status Modal -->
<div class="modal-backdrop-custom" *ngIf="showStatus" (click)="close()"></div>
<div class="modal-custom" *ngIf="showStatus" (click)="$event.stopPropagation()">
  <div class="modal-card">
      <div class="modal-header">
        <h5 class="modal-title">Change Status</h5>
        <button class="btn-close" (click)="close()"></button>
      </div>

      <form #statusForm="ngForm">
        <div class="modal-body">
          <!-- Issue ID -->
          <div class="form-group mb-3">
            <label for="issueId">Issue IDs:</label>
            <input id="issueId" type="text" class="form-control" [(ngModel)]="issueDraft.id" name="id" required
              placeholder="Enter Issue ID" [readonly]="isEdit || !!issueDraft.id" />
            <div class="text-danger" *ngIf="statusForm.submitted && !issueDraft.id">
              Issue ID is required
            </div>
          </div>
          
          <!-- Assign To -->
          <div class="form-group mb-3">
            <label for="status">Status:</label>
            <select id="status" class="form-control" [(ngModel)]="issueDraft.status" name="status" required>
              <option value="OPEN">OPEN</option>
              <option value="IN_PROGRESS">IN_PROGRESS</option>
              <!-- <option value="RESOLVED">RESOLVED</option> -->
              <option value="CLOSED">CLOSED</option>
            </select>
            <div class="text-danger" *ngIf="statusForm.submitted && !issueDraft.status">
              Please select a user
            </div>
          </div>

          <!-- Due Date -->
          <!-- <div class="form-group mb-3">
            <label for="dueDate">Due Date:</label>
            <input id="dueDate" type="date" class="form-control" [(ngModel)]="issue.dueDate" name="dueDate" required
             [min]="today" #dueDateRef="ngModel" [ngModelOptions]="{ standalone: false }" />

            <div class="text-danger" *ngIf="assignForm.submitted && dueDateRef.invalid">
              Due Date is required
            </div>
          </div> -->


        </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="onSubmitUser()">Update</button>
        <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
      </div>
    </form>
  </div>
</div>



<!-- Status Modal -->
<!-- <div class="modal-backdrop-custom" *ngIf="showStatus" (click)="close()">
  <div class="modal-dialog-custom" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Status</h5>
        <button class="btn-close" (click)="close()"></button>
      </div>

      <form #statusForm="ngForm" (ngSubmit)="submitStatus(statusForm)">
        <div class="modal-body">
          <label for="status">Status:</label>
          <input id="status" type="text"name="status" class="form-control" [(ngModel)]="issue.status"  readonly />


          <div class="form-group mt-3">
            <label for="remark">
              Remark
              <span *ngIf="issue.status === 'REJECT'" class="text-danger">*</span>
            </label>
            <textarea id="remark" class="form-control" rows="3" [(ngModel)]="issue.annotation" name="annotation"
              [required]="issue.status === 'REJECT'">
            </textarea>
            <div class="text-danger" *ngIf="
                statusForm.submitted &&
                issue.status === 'REJECT' &&
                !issue.annotation
              ">
              Remark is required when rejecting
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
